.about-top-banner {
    width: 100%;
    margin-bottom: 10px;
}

.about-main {
    width: 1060px;
    height: auto;
    display: inline-block;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 35px;
    float: right;
}

.about-main-dszzc {
    height: 280px;
    width: 100%;
}

.about-main-dszzc-left {
    width: 420px;
    height: 100%;
    float: left;
    margin-right: 25px;
}

.about-main-dszzc-right {
    width: 600px;
    height: 100%;
    float: left;
    font-size: 14px;
    color: #666666;
    padding-top: 10px;
}

.about-main-qyjs {
    width: 100%;
    height: 910px;
    background: url("../img/about_qyjs_back.jpg") no-repeat center;
    color: rgb(200, 200, 240);
    font-size: 14px;
    line-height: 30px;
}

.about-main-qyjs-left {
    width: 700px;
    height: 360px;
    display: inline-block;
    float: left;
}

.about-main-qyjs-right {
    margin-left: 30px;
    width: 320px;
    height: 360px;
    display: inline-block;
}

.about-main-fzlc {
    background-color: rgb(51, 51, 51);
    padding-bottom: 30px;
}

.about-main-fzlc-left {
    color: rgb(235, 235, 235);
    border-left: 1px dashed rgb(204, 204, 204);
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
    line-height: 25px;
    width: 670px;
    display: inline-block;
}

.about-main-fzlc-left span{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: rgb(204, 204, 204);
    border-radius: 50%;
    position: relative;
    left: -32px;
    top:3px;
}

.about-main-fzlc-right {
    width: 380px;
    height: 334px;
    float: right;
}

.about-main-fzlc-left-item {
    margin: 20px 0px;
}

.about-main-gsry {
    background-color: rgb(245, 245, 245);
}

.about-main-gsry-item {
    width: 240px;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.about-main-gsry-item img {
    width: 100%;
    height: 188px;
}

.about-main-gsry-item span {
    display: block;
    line-height: 25px;
}