.chain-top-banner {
    width: 100%;
    margin-bottom: 30px;
}

.chain-top-banner img{
    max-width: 100%;
    max-height: 100%;
}

.chain-main {
    width: 980px;
    height: auto;
    display: inline-block;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 10px;
    float: right;
    margin-bottom: 100px;
}

.chain-address {
    height: 100px;
    width: 100%;
    margin: 20px 0;
    border-bottom: 1px dashed #999999;
}

.chain-address-left {
    width: 50px;
    display: inline-block;
    height: 100%;
    float: left;
}

.chain-address-right {
    width: 300px;
    display: inline-block;
    height: 100%;
}

.chain-address-img {
    width: 32px;
    height: 32px;
    background: url("../img/chain_address.png") no-repeat center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.chain-address-right-title {
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}

.chain-address-right-text {
    font-size: 14px;
    color: #999999;
}

.chain-door {
    margin: 20px 0 30px 0;
    width: 100%;
    height: auto;
    border-bottom: 1px dashed #999999;
}

.chain-door-item {
    height: 220px;
    width: 300px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
}

.chain-door-item-text1 {
    width: 100%;
    height: 40px;
    background: url("../img/chain_door_back.png") repeat;
    position: relative;
    bottom: 44px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}

.chain-door-item-text2 {
    height: 220px;
    width: 300px;
    background: url("../img/chain_door_back.png") repeat;
    position: relative;
    bottom: 224px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 60px;
    display: none;
}

.chain-door-item-text2 span {
    font-size: 18px;
    font-weight: 300;
}

.chain-door-page {
    height: 70px;
    width: 100%;
    padding-top: 10px;
    text-align: right;
    padding-right: 30px;
    color: #666666;
}

.chain-door-page span {
    font-size: 12px;
    width: auto;
    min-width: 20px;
    padding: 0 8px;
    height: 24px;
    display: inline-block;
    border: 1px solid #eeeeee;
    line-height: 22px;
    text-align: center;
    margin: 1px;
    cursor: pointer;
}

.chain-door-page .active {
    background-color: #cc0011 !important;
    color: #FFFFFF !important;
}

.chain-join {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-left: 10px;
}

.chain-join-item {
    width: 45%;
    height: 130px;
    display: inline-block;
}

.chain-join-item-left {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.chain-join-item-right {
    width: 50%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    float: right;
}

.chain-join-item-right span {
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #222222;
    line-height: 30px;
}

.chain-join-item-right p {
    font-size: 14px;
    color: #555555;
    padding: 0px !important;
}