/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
body,html{
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote:before, blockquote:after {
    content: '';
    content: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}




/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
    line-height:1;
    font-weight: 300;
}
a {
    text-decoration:none;
    color:rgb(100,150,200);
}
a:hover {
    color:rgb(50,50,50);
}

/* =Template
-------------------------------------------------------------- */
#wrapper {
    width:100%;
    margin:0 auto;
}

#main {
    background-color:#fff;
    padding:30px 0;
}
.content {
    margin:0 auto;
}


/* =Top Bar
-------------------------------------------------------------- */
#top-bar {
    background-color:rgb(100,150,200);
}
#top-bar a {
    color:#fff;
    font-size:14px;
    text-transform:uppercase;
    display:inline-block;
    margin:0;
    padding:10px;
}
#top-bar a:hover{
    background-color:rgb(150,200,250);
}
span.all-labs,
span.back-to-tutorial {
    display:block;
    width:50%;
}
span.all-labs {
    float:left;
    text-align:left;
}
span.back-to-tutorial {
    float:right;
    text-align:right;
}

/* =Header
-------------------------------------------------------------- */
header {
    padding:30px 0;
}
#title {
    width:100%;
    text-align:center;
}
#title h1 {
    color:#fff;
    font-size: 30px;
    margin-bottom:10px;
}
#title h2 {
    color:rgb(200,200,200);
    font-size:20px;

}

/* =Footer
-------------------------------------------------------------- */
footer {

}

/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.common-work-space-top {
    width: 1200px;
    margin: 0 auto;
}

.common-work-space {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/* 通用controller未加载时 隐藏 */
/*.ms-controller{*/
    /*visibility: hidden*/
/*}*/
/*.ms-controller{*/
/*visibility: hidden*/
/*}*/

.top-menu-nav {
    height: 90px;
    width: 100%;
    background: url("../img/top_back.jpg")
}
.top-menu-logo {
    width: 216px;
    height: 90px;
    background: url("../img/logo.png") no-repeat center;
    display: inline-block;
    cursor: pointer;
}

.mr-180 {
    margin-right: 180px;
}

/**
通用底部
 */
.footer {
    width: 100%;
    background-color: rgb(75, 75, 75);
    color: #ffffff;
    height: 200px;
}

.footer-logo {
    width: 220px;
    height: 200px;
    float: left;
    background: url("../img/logo.png") no-repeat center;
}

.footer-text {
    width: 600px;
    height: 200px;
    padding-left: 50px;
    float: left;
    padding-top: 30px;
    font-size: 12px;
}

.footer-text p {
    display: block;
    line-height: 30px;
}

.footer-img {
    width: 100px;
    height: 200px;
    line-height: 200px;
    vertical-align: middle;
    text-align: center;
    float: left;
    padding-top: 30px;
}

.common-text-title {
    width: 100%;
    height: 70px;
    color: #555555;
}

.common-text-title-img {
    width: 50px;
    height: 100%;
    display: inline-block;
    float: left;
    background: url("../img/common-text-title.png") no-repeat center;
}

.common-text-title-text {
    padding-top: 10px;
    width: 300px;
    height: 100%;
    float: left;
    margin-left: 5px;
}

.common-text-title-text span {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: block;
    letter-spacing: 10px;
}

.common-text-title-text p {
    font-weight: 300;
    font-size: 16px;
    color: rgb(169, 169, 169);
    margin: 0 !important;
}