.dishes-top-banner {
    width: 100%;
    margin-bottom: 30px;
}


.dishes-main {
    width: 980px;
    height: auto;
    display: inline-block;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 10px;
    float: right;
    margin-bottom: 100px;
}

.dishes-main-item {
    width: 300px;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.dishes-main-item img {
    width: 100%;
    height: 200px;
}

.dishes-main-itemgsry-item span {
    display: block;
    line-height: 25px;
}


.dishes-main-page {
    height: 70px;
    width: 100%;
    padding-top: 10px;
    text-align: right;
    padding-right: 30px;
    color: #666666;
}

.dishes-main-page span {
    font-size: 12px;
    width: auto;
    min-width: 20px;
    padding: 0 8px;
    height: 24px;
    display: inline-block;
    border: 1px solid #eeeeee;
    line-height: 22px;
    text-align: center;
    margin: 1px;
    cursor: pointer;
}

.dishes-main-page .active {
    background-color: #cc0011 !important;
    color: #FFFFFF !important;
}


.dishes-detail {
    width: 800px;
    background-color: #FFFFFF;
    display: none;
}

.dishes-detail-left, .dishes-detail-right {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 20px 40px;
}

.dishes-detail-right .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    display: block;
}

.dishes-detail-right .desc {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(108, 108, 108);
}
