.swiper-container .bx-prev{ width:12px; height:26px; background:#f00;text-indent: -999999px;z-index: 999;  position: absolute; float:left; left:455px; top:110px;}
.swiper-container .bx-next{ width:12px; height:26px;  background:#f00; text-indent: -999999px;z-index: 999;  position: absolute; top:110px;left:-15px;}


.index-about {
    height: 530px;
    padding-top: 30px;
}

.index-about-left {
    width: 50%;
    float: left;
}

.index-about-right {
    width: 50%;
    float: right;
    padding-left: 30px;
    padding-top: 60px;
    line-height: 30px;
}

.index-about-right-btn {
    background-color: rgb(229, 2, 18);
    color: #FFFFFF;
    cursor: pointer;
    line-height: 50px;
    width: 160px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    margin-top: 34px;
}


.index-join {
    height: 800px;
    background: url("../img/join_back.jpg") no-repeat center;
    padding-top: 120px;
}

.index-join-main {
    height: 540px;
}

.index-join-main-tr {
    width: 100%;
    height: 270px;
    text-align: center;
}

.index-join-main-td {
    color: rgb(76, 76, 76);
    font-size: 24px;
    font-weight: 600;
    line-height: 270px;
    letter-spacing: 8px;
    background-color: #ffffff;
    cursor: pointer;
    width: 33.33%;
    height: 100%;
    float: left;
}

.index-join-main-tr .red {
    background-color: rgb(202, 0, 14);
    color: #ffffff;
}

.index-join-main-item-text {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    background: url("../img/temp2.jpg") no-repeat center;
    display: none;
    color: #FFFFFF;
}

.index-join-main-item-text .title {
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
}

.index-join-main-item-text p {
    letter-spacing: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
}

.index-join-btn {
    width: 175px;
    height: 50px;
    margin: 0px auto;
    margin-top: 40px;
    background-color: rgb(205, 20, 36);
    color: #FFFFFF;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.index-dishes {
    padding-top: 40px;
    height: 800px;
}

.index-dishes-left {
    width: 160px;
    float: left;
}

.index-dishes-left-top {
    height: 500px;
    width: 100%;
}

.index-dishes-left-bottom {
    height: 220px;
    width: 100%;
    padding-top: 70px;
}

.index-dishes-center {
    width: 880px;
    float: left;
    padding-top: 40px;
}

.index-dishes-right {
    width: 160px;
    float: left;
}

.index-dishes-card {
    height: 134px;
    width: 134px;
    background: url("../img/dishes-more.png") no-repeat center;
    color: #ffffff;
    line-height: 134px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.index-dishes-center-list {
    width: 100%;
    height: 330px;
}

.index-dishes-center-list-item {
    width: 33.33%;
    float: left;
    font-size: 16px;
    text-align: center;
}

.index-dishes-center-list-item img{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    cursor: pointer;
}

.index-dishes-center-list-item p{
    line-height: 30px;
    letter-spacing: 8px;
    cursor: pointer;
}

.index-dishes-right-item {
    height: 134px;
    width: 134px;
    background: url("../img/dishes-item.png") no-repeat center;
    line-height: 40px;
    text-align: center;
    color: rgb(71, 71, 71);
    font-size: 30px;
    padding-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

.index-dishes-right .active {
    background: url("../img/dishes-active.png") no-repeat center !important;
    color: #ffffff !important;
}

.index-bar {
    width: 100%;
    height: 340px;
    background: url("../img/bar_back.jpg") no-repeat center;
    margin-top: 20px;
    padding-top: 90px;
}

.index-bar-item {
    width: 160px;
    height: 160px;
    background: url("../img/bar-item.png") no-repeat center;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    line-height: 55px;
    color: #ffffff;
    float: left;
    letter-spacing: 25px;
    padding: 22px 0px 0px 26px;
    cursor: pointer;
}

.bar-item2 {
    background: url("../img/bar-item2.png") no-repeat center !important;
}

.index-news {
    height: 550px;
}

.index-news-top {
    text-align: center;
    padding-top: 50px;
    padding-left: 500px;
    height: 190px;
}

.index-news-top-img {
    width: 149px;
    height: 39px;
    background: url("../img/news.png") no-repeat center;
    display: inline-block;
    float: left;
}

.index-news-top-img2 {
    height: 134px;
    width: 134px;
    background: url("../img/dishes-more.png") no-repeat center;
    color: #ffffff;
    line-height: 134px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.index-news-msg {
    height: 300px;
    width: 100%;
    margin-top: 20px;
}

.index-news-msg-item {
    width: 250px;
    height: 300px;
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 3px;
    cursor: pointer;
}

.index-news-msg-item-img img{
    height: 160px;
    width: 100%;
}
.index-news-msg-item-title {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 0 5px;
}
.index-news-msg-item-text {
    font-size: 14px;
    line-height: 25px;
    padding: 0 5px;
}

.index-call-me {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}
.index-call-me-map {
    height: 400px;
    width: 65%;
    overflow: hidden;
    display: inline-block;
    float: left;
}

.index-call-me-form {
    height: 400px;
    width: 35%;
    float: right;
    background-color: rgb(48, 42, 42);
    padding: 30px;
}

.index-call-me-form input,textarea {
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
}

.index-call-me-form input {
    height: 45px; width: 300px;
}

.index-call-me-form textarea {
    height: 100px; width: 300px;
}

#index-top-swiper-container .swiper-slide img{
    max-width: 100%;
    max-height: 100%;
}