.common-left-menu {
    width: 120px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    position: relative;
    display: inline-block;
}

.common-left-menu-item {
    width: 110px;
    height: 110px;
    margin: 5px auto;
    vertical-align:middle;
    cursor: pointer;
    background: url("../img/about_menu_back.png") no-repeat center;
    line-height: 30px;
    padding-top: 27px;
}

.common-left-menu-item img {
    vertical-align: middle;
    margin-right: 10px;
}

.common-left-menu .active {
    background: url("../img/about_menu_back2.png") no-repeat center !important;
}