.common-left-menu {
    width: 200px;
    height: 300px;
    background-color: #99000d;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.common-left-menu-item {
    padding-left: 30px;
    line-height: 50px;
    vertical-align:middle;
    cursor: pointer;
}

.common-left-menu-item img {
    vertical-align: middle;
    margin-right: 10px;
}

.common-left-menu .active {
    background-color: #cc0011 !important;
}