.news-top-banner {
    width: 100%;
    margin-bottom: 30px;
}


.news-main {
    width: 980px;
    height: auto;
    display: inline-block;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 10px;
    float: right;
    margin-bottom: 100px;
}

.news-main-item {
    width: 300px;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.news-main-item img {
    width: 100%;
    height: 200px;
}

.news-main-itemgsry-item span {
    display: block;
    line-height: 25px;
}


.news-main-page {
    height: 70px;
    width: 100%;
    padding-top: 10px;
    text-align: right;
    padding-right: 30px;
    color: #666666;
}

.news-main-page span {
    font-size: 12px;
    width: auto;
    min-width: 20px;
    padding: 0 8px;
    height: 24px;
    display: inline-block;
    border: 1px solid #eeeeee;
    line-height: 22px;
    text-align: center;
    margin: 1px;
    cursor: pointer;
}

.news-main-page .active {
    background-color: #cc0011 !important;
    color: #FFFFFF !important;
}


.news-join-item {
    width: 45%;
    height: 130px;
    display: inline-block;
}

.news-join-item-left {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.news-join-item-right {
    width: 50%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    float: right;
}

.news-join-item-right span {
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #222222;
    line-height: 30px;
}

.news-join-item-right p {
    font-size: 14px;
    color: #555555;
    padding: 0px !important;
}