.server-top-banner {
    width: 100%;
    margin-bottom: 10px;
}

.server-main {
    width: 1060px;
    height: auto;
    display: inline-block;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 35px;
    float: right;
}

.server-main-dszzc {
    height: 280px;
    width: 100%;
}

.server-main-dszzc-left {
    width: 420px;
    height: 100%;
    float: left;
    margin-right: 25px;
}

.server-main-dszzc-right {
    width: 600px;
    height: 100%;
    float: left;
    font-size: 14px;
    color: #666666;
    padding-top: 10px;
}

.server-main-dszzc-right span {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    color: #555555;
}

.server-main-qyjs {
    width: 100%;
    height: 565px;
    background: url("../img/server_qyjs_back.jpg") no-repeat center;
    color: rgb(200, 200, 240);
    font-size: 14px;
    line-height: 30px;
}

.server-main-qyjs2 {
    width: 100%;
    height: 565px;
    background: url("../img/server_qyjs_back2.jpg") no-repeat center;
    color: rgb(200, 200, 240);
    font-size: 14px;
    line-height: 30px;
}

.server-main-qyjs-main {
    padding-top: 80px;
}

.server-main-qyjs-main-input {
    border-radius: 5px;
    height: 40px;
    width: 200px;
}

.server-main-qyjs-left {
    width: 550px;
    height: 360px;
    display: inline-block;
    float: left;
}

.server-main-qyjs-left td {
    padding: 10px;
}

.server-main-qyjs-left .title {
    text-align: right;
    padding-right: 10px;
    line-height: 40px;
}

.server-main-qyjs-right {
    margin-left: 30px;
    width: 470px;
    height: 360px;
    display: inline-block;
}

.server-main-fzlc {
    background-color: rgb(240, 240, 240);
    padding-bottom: 30px;
}

.server-main-fzlc-left {
    color: rgb(235, 235, 235);
    border-left: 1px dashed rgb(204, 204, 204);
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
    line-height: 25px;
    width: 670px;
    display: inline-block;
}

.server-main-fzlc-left span{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: rgb(204, 204, 204);
    border-radius: 50%;
    position: relative;
    left: -32px;
    top:3px;
}

.server-main-fzlc-right {
    width: 380px;
    height: 334px;
    float: right;
}

.server-main-fzlc-left-item {
    margin: 20px 0px;
}

.server-main-gsry {
    background-color: rgb(245, 245, 245);
}

.server-main-gsry-item {
    width: 240px;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.server-main-gsry-item img {
    width: 100%;
    height: 188px;
}

.server-main-gsry-item span {
    display: block;
    line-height: 25px;
}

.server-main-download {
    width: 100%;
    padding-left: 100px;
    margin-top: 40px;
}

.server-main-download-left {
    width: 400px;
    height: 100%;
    display: inline-block;
    float: left;
}

.server-main-download-right {
    width: 500px;
    height: 100%;
    display: inline-block;
    float: left;
    padding-top: 150px;
}

.server-main-download-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(205, 0, 17);
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.server-main-download-right span {
    color: #777777;
}